<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>common-event</title>
    <script type="text/javascript" src="lib/angular-1.3.0.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="count=count+1">click me</button>
    <p>{{count}}</p>
    <button ng-click="toggle()">hide</button>
    <div ng-hide="myDiv">
        123321
    </div>
    <div>
        宽带缴费
    </div>
</div>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.count = 0;
        $scope.toggle = function () {
            $scope.myDiv = !$scope.myDiv;
        }
    })
</script>
</html>